.hero{
    height:340px;
    background:url("/images/professional-rhythmic-gymnastics.webp") 90% 10% / cover no-repeat;
    position:relative;
    display:flex;
    align-items:center;
    color: var(--hero-color);
}

.overlay{
    position:absolute;
    inset:0;
    background:
            linear-gradient(
                    90deg,
                    rgba(10,12,20,0.85) 0%,
                    rgba(10,12,20,0.65) 40%,
                    rgba(10,12,20,0.3) 70%,
                    rgba(10,12,20,0.1) 100%
            );
}

.title {
    font-size:48px;
    font-weight:500;
}

.title_color {
    color: var(--hero-color);
    z-index: 1;
}
