.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:1.6rem;
    padding: 3rem 1rem;
}

.grid img{
    width:100%;
    height:auto;
    object-fit:cover;
    object-position: center top;
    cursor:pointer;
    border-radius:var(--radius-lg);;
}

.grid img:hover{
    transform:scale(1.05);
}

.lightbox{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.85);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:2000;
}

.lightbox img{
    max-width:90%;
    max-height:90%;
}
